@model WebApplication1.Models.Jokes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jokes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jokequestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jokequestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jokeanswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jokeanswer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
